name: Test

on:
  push:
    branches: ["**"]
  pull_request:
    branches: ["main", "master", "develop"]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: metadaoproject/anchor-test@v2.3